<h2>User info</h2>
<!--user=>@user-->
<%= image_tag user.get_profile_image(100,100) %><br>
  <table>
    <tbody>
      <tr>name</tr>
      <!--user=>@user-->
      <tr><%= user.name %></tr><br>
      <tr>introduction</tr>
      <!--user=>@user-->
      <tr><%= user.introduction %></tr>
    </tbody>
  </table>

  <div><%= link_to "edit",edit_user_path(user.id) %></div>

  <h2>New book</h2>
  <!--book=>@book-->
  <%= form_with model: book do |f| %>
    <label>Title</label><br>
    <%= f.text_field :title %><br>
    <label>Opinion</label><br>
    <%= f.text_area :body %><br>

    <%= f.submit 'Create Book' %>
  <% end %>
