<h2>User info</h2>
  <table>
    <tbody>
      <tr>name</tr>
      <tr><%= @user.name %></tr>
      <tr>introduction</tr>
      <tr><%= @user.introduction %></tr>
    </tbody>
  </table>

  <div><%= link_to "edit",edit_user_path %></div>

  <h2>New book</h2>
  <%= form_with model: @book do |f| %>
    <label>Title</label><br>
    <%= f.text_field :title %><br>
    <label>Opinion</label><br>
    <%= f.text_area :body %><br>

    <%= f.submit 'Create Book' %>
  <% end %>
